<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta HTTP-EQUIV="pragma" CONTENT="no-cache">
    <meta HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate">
    <meta HTTP-EQUIV="expires" CONTENT="0">
    <title>证券市场信息操纵洞察系统---封面</title>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="/static/js/script.js"></script>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/nav.css">
    <link rel="stylesheet" href="/static/css/cover.css">
    <style>

    </style>
</head>
<body>
<div id="container">
    <div id="content">
        <!-- <div id="nav"> -->
        <div id="nav" style="position:fixed;">
            <div style="width: 100%;height: 100%;padding:0 0.2rem;">
                <div class="nav_left">
                    <h2 style="color:#fff;font-size: 0.36rem;font-weight:900;">
                        <img src="/static/images/logo.png" style="width:1.4rem;height:0.9rem;vertical-align: middle;">&nbsp;&nbsp;证券市场信息操纵洞察系统
                    </h2>
                </div>
                <ul class="nav_middle">
                    <li class="main_li">
                        <a class="list_one li_a" href="/index/trend">
                            <i class="fa fa-area-chart"></i>&nbsp;态势分析
                        </a>
                    </li>
                    <li class="main_li">
                        <a class="list_two li_a" href="/index/detect">
                            <i class="fa fa-bullhorn"></i>&nbsp;预警推送
                        </a>
                    </li>
                    <li class="main_li">
                        <a class="list_three li_a" href="/index/stockDetail">
                            <i class="fa fa-building"></i>&nbsp;预警详情
                        </a>
                    </li>
                    <li class="main_li">
                        <a class="list_four li_a" href="/index/maniPulate">
                            <i class="fa fa-compass"></i>&nbsp;业务系统
                        </a>
                    </li>
                </ul>
            </div>

        </div>
        <!-- <div class="wordList" style="width:90%;margin:0 auto;padding: 0.2rem 0.4rem;overflow: hidden;"> -->
        <div class="wordList" style="width:90%;margin:0 auto;padding: 0.2rem 0.4rem;overflow: hidden;height:100%;padding-top:0.9rem;">
            <div class="allLeft" style="float: left;width:80%;height:100%;">
                <div class="wordLeft" style="overflow: hidden;width: 100%;height:49%;margin-bottom:2%;">
                    <div id="chart-1" class="chart" style="height:100%;width:30%;"></div>
                    <div class="chartRight1" style="float: left;width:66%;height:88%;text-align: center;margin-left:2%;position:relative;top:12%;">
                        <h1 style="font-family: inherit;color: white;font-size: 0.46rem;margin-bottom: 0.3rem;border-bottom:3px solid #fff;padding-bottom: 0.1rem;text-align:left;padding-left: 0.75rem;">
                            信息型证券市场操纵预警
                            <!-- 信息型市场操纵预警—2018年 -->
                        </h1>
                        <div style="overflow:hidden;width: 100%;">
                            <!-- <div class="yearTop" style="width: 65%;float: left;"> -->
                            <div class="yearTop" style="float: left;">
                                <p class="word">
                                    <!-- <span><strong class="s1">一级预警：</strong><b><i>5</i><i>8</i><i>8</i></b>只，2018年<b><i>1</i><i>5</i><i>1</i></b>只</span> -->
                                    <!-- <span><strong class="s2">涉嫌操纵事件</strong><b><i>6</i><i>5</i><i>4</i><i>8</i></b>起</span> -->
                                    <span><strong class="s1">一级预警：</strong></span>
                                    <span style="text-align:right;display:inline-block;margin:0;padding:0;width:1.8rem;">
                                        <b><i>5</i><i>8</i><i>8</i></b>只，
                                    </span>
                                    2018年
                                    <span style="text-align:right;display:inline-block;margin:0;padding:0;width:1.45rem;">
                                        <b><i>1</i><i>5</i><i>1</i></b>只
                                    </span>
                                </p>
                                <p class="word">
                                    <!-- <span><strong class="s1">二级预警：</strong><b><i>6</i><i>2</i></b>只，2018年<b><i>1</i><i>7</i></b>只</span> -->
                                    <!--<span><strong class="s2">涉嫌操纵事件</strong><b><i>1</i><i>8</i><i>7</i><i>0</i></b>起</span>-->
                                    <span><strong class="s1">二级预警：</strong></span>
                                    <span style="text-align:right;display:inline-block;margin:0;padding:0;width:1.8rem;">
                                        <b><i>6</i><i>2</i></b>只，
                                    </span>
                                    2018年
                                    <span style="text-align:right;display:inline-block;margin:0;padding:0;width:1.45rem;">
                                        <b><i>1</i><i>7</i></b>只
                                    </span>
                                </p>
                                <p class="word">
                                    <!-- <span><strong class="s1">三级预警：</strong><b><i>3</i><i>0</i></b>只，2018年<b><i>1</i><i>5</i></b>只</span> -->
                                    <!--<span><strong class="s2">涉嫌操纵事件</strong><b><i>3</i><i>1</i><i>6</i></b>起</span>-->
                                    <span><strong class="s1">三级预警：</strong></span>
                                    <span style="text-align:right;display:inline-block;margin:0;padding:0;width:1.8rem;">
                                        <b><i>3</i><i>0</i></b>只，
                                    </span>
                                    2018年
                                    <span style="text-align:right;display:inline-block;margin:0;padding:0;width:1.45rem;">
                                        <b><i>1</i><i>5</i></b>只
                                    </span>
                                </p>
                            </div>
                            <!-- <div class="year" style="float: right;width:32%;font-size:1rem;font-weight: 900;color:#4e8188;font-family:fantasy;">
                                2018
                            </div> -->
                        </div>

                    </div>
                </div>
                <div class="wordRight" style="overflow: hidden;width: 100%;height:49%;">
                    <div id="chart-2" class="chart" style="height:100%;width:30%;"></div>
                    <!-- <div class="chartRight2" style="float: left;margin:0.4rem 0 0 1.25rem;width:58%;"> -->
                    <div class="chartRight2" style="float: left;margin:0.4rem 0 0 1.25rem;width:66%;height:88%;margin:0;margin-left:2%;position:relative;top:12%;">
                        <p class="word">
                            <span>交易行情：</span>
                            <span style="text-align:right;display:inline-block;margin:0;padding:0;width:3.5rem;">
                                <b><i>3</i><i>0</i>,<i>2</i><i>6</i><i>7</i>,<i>7</i><i>2</i><i>6</i></b>条
                            </span>
                        </p>
                        <p class="word">
                            <span>财务数据：</span>
                            <span style="text-align:right;display:inline-block;margin:0;padding:0;width:3.5rem;">
                                <b><i>5</i><i>9</i><i>0</i>,<i>2</i><i>6</i><i>1</i></b>条
                            </span>
                        </p>
                        <p class="word">
                            <span>公司公告：</span>
                            <span style="text-align:right;display:inline-block;margin:0;padding:0;width:3.5rem;">
                                <b><i>2</i>,<i>2</i><i>5</i><i>3</i>,<i>3</i><i>1</i><i>7</i></b>条
                            </span>
                        </p>
                        <p class="word">
                            <span>工商信息：</span>
                            <span style="text-align:right;display:inline-block;margin:0;padding:0;width:3.5rem;">
                                <b><i>2</i><i>1</i>,<i>1</i><i>3</i><i>2</i></b>条
                            </span>
                        </p>
                        <p class="word">
                            <span>财经新闻：</span>
                            <span style="text-align:right;display:inline-block;margin:0;padding:0;width:3.5rem;">
                                <b><i>3</i><i>1</i><i>6</i>,<i>2</i><i>3</i><i>6</i></b>条
                            </span>
                        </p>
                        <p class="word">
                            <span>社交媒体：</span>
                            <span style="text-align:right;display:inline-block;margin:0;padding:0;width:3.5rem;">
                                <b><i>3</i><i>5</i>,<i>2</i><i>4</i><i>6</i>,<i>9</i><i>8</i><i>1</i></b>条
                            </span>
                        </p>
                        <p class="word" style="padding-left: 0.8rem;">
                            （<i>微信公众号</i>，<i>股吧</i>，<i>微博</i>，<i>百度贴吧</i>，<i>知乎</i>，<i>论坛</i>）
                        </p>
                    </div>
                </div>
            </div>
            <div class="allRight" style="float: left;width: 19%;height:100%;">
                <!--<p class="wordImg">操纵</p>-->
                <!--<p class="wordImg">态势</p>-->
                <!--<p class="wordImg">预警</p>-->
                <img src="/static/images/font1.png">
                <img src="/static/images/font2.png">
                <img src="/static/images/font3.png">
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.bootcss.com/echarts/4.1.0/echarts.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/static/js/echarts-liquidfill.min.js"></script>
<script src="/static/js/chalk.js"></script>
<script>
    // $('#container').css({minHeight:$(window).height()});
    // $('#container #content').css({minHeight:$(window).height()});
    $('#container').css({minHeight:$(window).height(),height:$(window).height()});
    $('#container #content').css({minHeight:$(window).height(),height:$(window).height()});

    $('#container #content .wordList').css('padding-top',$('#nav').outerHeight(true)+20);

    // let a=$('.chartRight1').height()-300;
    // if (a>0){
    //     $('#chart-1').css({marginTop:a/2});
    //     $('.allRight .wordImg').css({marginTop:a/2});
    // }else {
    //     $('.chartRight1').css({marginTop:Math.abs(a)/2});
    // }
    // let b=$('.chartRight2').height()-300;

    // if (b>0){
    //     $('#chart-2').css({marginTop:b/2+40});
    // }else {
    //     $('.chartRight2').css({marginTop:Math.abs(b)/2});
    // }

    $('#nav').hover(function () {
        $('#nav .nav_middle').slideDown(200);
    },function () {
        $('#nav .nav_middle').slideUp(200);
    })
    $('.year').css({height:$('.yearTop').height(),lineHeight:$('.yearTop').height()+'px'})
    // $('#chart-1').css({marginTop:($('.chartRight1').height()-300)/2});
    // $('#chart-2').css({marginTop:($('.chartRight2').height()-300)/2});
</script>
<script src="/static/js/cover.js"></script>
</body>
</html>